body 
{
    background-color: #FFFFFF;  
}

#back
{ 
    background-color: #FFCBDB;
	font-size:18px;
    height: 270px;
    width: 500px;
    border-radius:10px;    
}
.right
{
    position:absolute;
    left:190px;
    top:20px;
    color:#5A009D;
}
.left
{
    position:absolute;
    left:30px;
    top:200px;
    color:#5A009D;
}
.text
{
    color:#000000;
    font-size:18px;
	font-weight: bold;
    margin-left: 20px;
}


.text_2
{
    display:block;
    color:#000000;
    margin-left: 28px;
}

.text_3
{
    color:#000000;  
	font-weight: bold;	
    margin-left: 28px;
}

.text_4
{
    color:#000000;   
	font-weight: bold;
    margin-left: 8px;
    margin-right:20px;
}

.category
{
    color:#000000;  
	font-weight: bold;
    margin-left: 20px;
    border:2px solid black;
}
#photo
{
	position:absolute;
	left:30px;
	top:30px;
	width:130px;
	height:160px;
    border:2px solid black;
}

