html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#back{
    height: 250px;
    width: 410px;
    border: 3px solid black;
}

#logo{
    margin: 7px 0 0 7px;       
}

#SB{
    margin: 5px 0 0 0;     
    text-align: center;
    font: 16pt, courier;
    font-weight: bold;
}

#foto{
    margin: 15px 10px 0 10px;
    background: black;
    height: 150px;
    width: 120px;
    float:left;
}

.tf{
    margin: 25px 0 0 10px;
    float:left; 
}

#camera, #load{
    margin: 20px 0 0 10px;
    float: left;
    width: 100px;
}

#desc{
    margin: 10px 0px 0px 0px; 
}

.data  {
	margin-left :10px;
}

input text{
	width:10px;
}